
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');


html{
  box-sizing:border-box;
}
*,*::before,*::after{
  box-sizing:inherit;
}

p,body,h1,h2,h3,h4,h5,ul{
  margin:0px;
  padding:0px;
}
body{
  background-image:url("../images/blackboard.jpg");
  color:white;
  font-family:'Architects Daughter', regular;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height:100vh;

}
/*beginning of entire game container*/
div.game-container{
  text-align:center;
}
h1{
  text-align:center;
  font-size:3rem;
  margin-bottom:20px;
  text-decoration:underline;
  text-decoration-thickness:5px;
}
div.game-container p{
  font-size:2rem;

}
input#reset{
  margin-top:1em;
  font-size:1.5rem;
  padding:0.5em 1em;
  background:none;
  border:1px solid white;
  color:white;
  font-family: 'Architects Daughter', cursive
}
input#reset:hover{
  border-color:white;
  background-color:white;
  color:black;

}
/*end of entire game container*/


/*beginning of grid-container for each square*/
div.grid-container{
  display:grid;
  width:400px;
  height:400px;
  margin:1em auto 0 auto;
  grid-template-columns:repeat(3,1fr);
  grid-template-rows:repeat(3,1fr);
}

div.grid-container .square{
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:4rem;
  border:1px solid white;
}


/*end of each grid container*/


@media(max-width:500px){
  div.grid-container{
    width:300px;
  }
}
@media(max-width:330px){
  div.grid-container{
    width:250px;
    height:300px;
  }
}
